[Unit]
Description=Syscare patch management
Requires=upatch.service local-fs.target
After=upatch.service local-fs.target
Before=network-online.target

[Service]
ExecStart=/usr/bin/syscare restore
ExecStop=/usr/bin/syscare save
User=root
Group=root
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
