[Unit]
Description=Syscare user patch build daemon
Requires=local-fs.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/upatchd -d
ExecStop=/usr/bin/kill -s SIGTERM $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target
