[Unit]
Description=Restore syscare patch status
Requires=syscare-pre.service local-fs.target
After=syscare-pre.service local-fs.target
Before=network-online.target

[Service]
ExecStart=/usr/bin/syscare restore
User=root
Group=root
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
