[Unit]
Description=Restore syscare patch status
Requires=syscare-pre.service
After=syscare-pre.service
Before=network-online.target

[Service]
ExecStart=/usr/libexec/syscare/auto-recovery.sh
User=root
Group=root
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
