[Unit]
Description=Syscare patch management daemon
Requires=local-fs.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/syscared -d
ExecStop=/usr/bin/kill -s SIGTERM $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target
