[Unit]
Description=User patch management
Requires=local-fs.target
After=local-fs.target
Before=syscare.service

[Service]
ExecStart=modprobe upatch
ExecStop=rmmod upatch
User=root
Group=root
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
